<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
	<h1>{{fund.title}}</h1>
	<div class="fund-detail">
		<main class="fund-detail_main">
			<div class="carousal">
				<img src="{{fund.images[0]}}" alt="campaign picture">
			</div>
			<nav class="tabs">
				<button [ngClass]="{'active':activeStory}" (click)="activeStory=true;">STORY</button>
				<button [ngClass]="{'active':!activeStory}" (click)="activeStory=false;">UPDATES</button>
			</nav>
			<div class="story" [@activeState]="activeStory" *ngIf="activeStory">
				<p> The Sikkim Himalayan Academy, a free residential school on Eastern Himalayas for the underprivileged children from the remote
				mountains, hopes to overcome all odds stacked up against some of the unfortunate kids and provide them all with excellent	education. </p>
				<p>Hence, as a part of our project, Project Alpha by The Living Routes , we aim to throw some limelight on this inspirational
				school and help them raise funds for building a recreational centre/classroom for the students. </p>
				<p>Project Alpha, the first of its kind, is a project spearheaded by a couple, Tracey and Ajay who connect their passion for bike riding with a cause,
				the cause being education this time. As ardent bikers, both Tracey and Ajay are touring across the length and breadth of
				the country on their bikes and achieving the following objectives for this project; </p>
				
				1. Covering minimum of 15 states and
				10,000 km on their respective bikes ( neither is a pillion, both are riders)<br>
				
				2. Raising 5 lakh rupees via confounding portal
				ImpactGuru to help build classroom for the much deserved kids at Sikkim Himalayan Academy.<br>
				
				3. Understanding perspectives
				on education enroute from people across the nation.<br>
				
				4. Create awareness and educating ourselves, alongwith others, about
				the diverse culture of our country. This is only the first hence Project Alpha. The couple also hopes to continue the saga
				with more such expeditions and biking for many more causes. ' <br>
				
				<em>About the School and the challenges faced</em> 
				<p>Started by a few local Sikkimese teachers and volunteers in 2003, the mission of SHA is to provide free education as well as daily care to children in need from the remote mountains of Sikkim. The school faces multiple challenges in doing so. Some of them include staying in the makeshift hostel in the attic of the school, accessibility to resources, weather conditions, lack of opportunities
				for talented kids due to devoid of a facility room etc. How can you help? The school wants to provide its students not just in academia but also extra curricular activities so each student can hone over their talents. The academy is also short of one classroom for its students who are currently being taught in corridors. They hope to build a recreation room which can
				also be used as a classroom for the same. Every donation made to this project will be contributed to building this room for the kids at Sikkim Himalayan Academy.</p>

			</div>
			<div class="updates" [@activeState]="!activeStory" *ngIf="!activeStory">
				<ul>
					<li>
						<div>5</div>
						<img src="/assets/image1.jpg">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque perferendis dolorum blanditiis distinctio optio fuga asperiores maxime totam, inventore, obcaecati pariatur, voluptatem aspernatur repellat maiores. Possimus magni repellendus nostrum.</p>
					</li>
					<li>
						<div>4</div>
						<img src="/assets/image1.jpg">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque perferendis dolorum blanditiis distinctio optio fuga
							asperiores maxime totam, inventore, obcaecati pariatur, voluptatem aspernatur repellat maiores. Possimus magni repellendus
							nostrum.</p>
					</li>
					<li>
						<div>3</div>
						<img src="/assets/image1.jpg">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque perferendis dolorum blanditiis distinctio optio fuga
							asperiores maxime totam, inventore, obcaecati pariatur, voluptatem aspernatur repellat maiores. Possimus magni repellendus
							nostrum.</p>
					</li>
					<li>
						<div>2</div>
						<img src="/assets/image1.jpg">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque perferendis dolorum blanditiis distinctio optio fuga
							asperiores maxime totam, inventore, obcaecati pariatur, voluptatem aspernatur repellat maiores. Possimus magni repellendus
							nostrum.</p>
					</li>
				</ul>
			</div>
		</main>
		<aside class="fund-detail_info">
			<div class="sec--u">
				<section class="status">
					<h2 class="status_raised currency">{{fund.raised }}</h2>
					<p class="status_target currency">of {{fund.target }}</p>
	
					<div class="status_progress">
						<div class="status_progress_bar">
							<div [style.width]="fund.percent" class="progress--color"></div>
						</div>
						<span class="status_percent">{{fund.percent}}</span>
					</div>
				</section>
	
				<div class="donate">
					<input name="donatebox">
					<button for="donatebox">DONATE</button>
				</div>
	
				<div class="social-lnks">
					<img src="/assets/fb.svg">
					<img src="/assets/messenger-icon.svg">
					<img src="/assets/twitter-icon.svg">
					<img src="/assets/whatsapp-icon.svg">
				</div>
				<div class="sec--ben profile">
					<p class="profile_title">Campaign Organiser</p>
					<div class="profile_avatar">LR</div>
					<a class="profile_name" href="#">{{fund.by}}</a>
				</div>
				<div class="sec--for profile">
					<p class="profile_title">Beneficiary</p>
					<div class="profile_avatar">SH</div>
					<a hre="#" class="profile_name">{{fund.for}}</a>
				</div>
			</div>

			<div class="btn btn-red">Start Similar Fundraiser</div>
			<div class="donations">
				<p>{{fund.donations.length}} donations</p>
				<ul>
					<li class="donations_item" *ngFor="let donar of fund.donations"> <span>₹ {{donar.amount}}</span> by {{donar.name}}</li>
				</ul>
			</div>
		</aside>
	</div>
</div>
<app-footer></app-footer>